- page_title _('Account')
- @content_class = "limit-container-width" unless fluid_layout

- if current_user.ldap_user?
  .alert.alert-info
    = s_('Profiles|Some options are unavailable for LDAP accounts')

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = s_("Profiles|Two-Factor Authentication")
    %p
      = s_("Profiles|Increase your account's security by enabling Two-Factor Authentication (2FA)")
  .col-lg-8
    %p
      #{_('Status')}: #{current_user.two_factor_enabled? ? _('Enabled') : _('Disabled')}
    - if current_user.two_factor_enabled?
      = link_to _("Manage two-factor authentication"), profile_two_factor_auth_path, class: 'btn btn-info'
    - else
      .append-bottom-10
        = link_to _("Enable two-factor authentication"), profile_two_factor_auth_path, class: 'btn btn-success'

%hr
- if display_providers_on_profile?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0
        = s_('Profiles|Social sign-in')
      %p
        = s_('Profiles|Activate signin with one of the following services')
    .col-lg-8
      %label.label-bold
        = s_('Profiles|Connected Accounts')
      %p= s_('Profiles|Click on icon to activate signin with one of the following services')
      - button_based_providers.each do |provider|
        .provider-btn-group
          .provider-btn-image
            = provider_image_tag(provider)
          - if auth_active?(provider)
            - if unlink_allowed?(provider)
              = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'provider-btn' do
                = s_('Profiles|Disconnect')
            - else
              %a.provider-btn
                = s_('Profiles|Active')
          - else
            = link_to omniauth_authorize_path(:user, provider), method: :post, class: 'provider-btn not-active' do
              = s_('Profiles|Connect')
      = render_if_exists 'profiles/accounts/group_saml_unlink_buttons', group_saml_identities: local_assigns[:group_saml_identities]
  %hr
- if current_user.can_change_username?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0.warning-title
        = s_('Profiles|Change username')
      %p
        = s_('Profiles|Changing your username can have unintended side effects.')
        = succeed '.' do
          = link_to s_('Profiles|Learn more'), help_page_path('user/profile/index', anchor: 'changing-your-username'), target: '_blank'
    .col-lg-8
      - data = { initial_username: current_user.username, root_url: root_url, action_url: update_username_profile_path(format: :json) }
      #update-username{ data: data }
  %hr

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0.danger-title
      = s_('Profiles|Delete account')
  .col-lg-8
    - if current_user.can_be_removed? && can?(current_user, :destroy_user, current_user)
      %p
        = s_('Profiles|Deleting an account has the following effects:')
      = render 'users/deletion_guidance', user: current_user

      %button#delete-account-button.btn.btn-danger.disabled{ data: { toggle: 'modal',
        target: '#delete-account-modal' } }
        = s_('Profiles|Delete account')

      #delete-account-modal{ data: { action_url: user_registration_path,
        confirm_with_password: ('true' if current_user.confirm_deletion_with_password?),
        username: current_user.username } }
    - else
      - if current_user.solo_owned_groups.present?
        %p
          = s_('Profiles|Your account is currently an owner in these groups:')
          %strong= current_user.solo_owned_groups.map(&:name).join(', ')
        %p
          = s_('Profiles|You must transfer ownership or delete these groups before you can delete your account.')
      - else
        %p
          = s_("Profiles|You don't have access to delete this user.")
.append-bottom-default
